<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>0492233F-1501-46B8-8173-A7F8D6625F41</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ampersand</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
