<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9C7C920A-9D2F-4B07-B3CD-DB215F05BC07</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.one</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.one.tf</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
