<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>DB9A9AA8-6079-44B6-9990-87393FB76B32</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.K</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
