<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A83304A9-7B03-4335-BB99-7514F4C6DA65</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.dblgravecomb</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hungarumlautcomb</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
