<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>2FEA2639-C30B-4DB5-8833-0003E9DC77A0</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.g.ss01</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
