<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>1E49D8F9-72BF-421E-9EDD-EC6E09DF4D59</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.k</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
