<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>253FD006-6178-42F5-AC88-FC2CECD70231</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ogonekcomb</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
