<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B53B6440-45F5-4A56-A17C-18110547E52F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.N</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
