<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B8D8B100-118D-4C37-8D25-AE02A0741866</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.X</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
