<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>CA75CEDD-833A-4069-892B-156AD0039104</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.n</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
