<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>4E98661B-D381-4A73-B28F-76B5C2F64B0B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.r</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
