<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Nov 18 16, 03:15</string>
      <string>glyphs.N_ov 18 16, 03_15</string>
    </array>
    <array>
      <string>Nov 18 16, 03:15.background</string>
      <string>glyphs.N_ov 18 16, 03_15.background</string>
    </array>
    <array>
      <string>Dec 7 16, 02:24</string>
      <string>glyphs.D_ec 7 16, 02_24</string>
    </array>
    <array>
      <string>Dec 7 16, 02:24.background</string>
      <string>glyphs.D_ec 7 16, 02_24.background</string>
    </array>
    <array>
      <string>Nov 18 16, 03:51</string>
      <string>glyphs.N_ov 18 16, 03_51</string>
    </array>
    <array>
      <string>Nov 18 16, 03:51.background</string>
      <string>glyphs.N_ov 18 16, 03_51.background</string>
    </array>
    <array>
      <string>Nov 18 16, 04:02</string>
      <string>glyphs.N_ov 18 16, 04_02</string>
    </array>
    <array>
      <string>Nov 18 16, 04:02.background</string>
      <string>glyphs.N_ov 18 16, 04_02.background</string>
    </array>
    <array>
      <string>Nov 25 16, 01:00</string>
      <string>glyphs.N_ov 25 16, 01_00</string>
    </array>
    <array>
      <string>Nov 25 16, 01:00.background</string>
      <string>glyphs.N_ov 25 16, 01_00.background</string>
    </array>
    <array>
      <string>Nov 25 16, 01:02</string>
      <string>glyphs.N_ov 25 16, 01_02</string>
    </array>
    <array>
      <string>Nov 25 16, 01:02.background</string>
      <string>glyphs.N_ov 25 16, 01_02.background</string>
    </array>
    <array>
      <string>Nov 25 16, 00:55</string>
      <string>glyphs.N_ov 25 16, 00_55</string>
    </array>
    <array>
      <string>Nov 25 16, 00:55.background</string>
      <string>glyphs.N_ov 25 16, 00_55.background</string>
    </array>
    <array>
      <string>Nov 17 16, 21:37</string>
      <string>glyphs.N_ov 17 16, 21_37</string>
    </array>
    <array>
      <string>Nov 17 16, 21:37.background</string>
      <string>glyphs.N_ov 17 16, 21_37.background</string>
    </array>
    <array>
      <string>Nov 20 16, 13:31</string>
      <string>glyphs.N_ov 20 16, 13_31</string>
    </array>
    <array>
      <string>Nov 20 16, 13:31.background</string>
      <string>glyphs.N_ov 20 16, 13_31.background</string>
    </array>
    <array>
      <string>Nov 17 16, 22:55</string>
      <string>glyphs.N_ov 17 16, 22_55</string>
    </array>
    <array>
      <string>Nov 17 16, 22:55.background</string>
      <string>glyphs.N_ov 17 16, 22_55.background</string>
    </array>
    <array>
      <string>Nov 18 16, 03:39</string>
      <string>glyphs.N_ov 18 16, 03_39</string>
    </array>
    <array>
      <string>Nov 18 16, 03:39.background</string>
      <string>glyphs.N_ov 18 16, 03_39.background</string>
    </array>
    <array>
      <string>Nov 17 16, 20:48</string>
      <string>glyphs.N_ov 17 16, 20_48</string>
    </array>
    <array>
      <string>Nov 17 16, 20:48.background</string>
      <string>glyphs.N_ov 17 16, 20_48.background</string>
    </array>
    <array>
      <string>Nov 20 16, 12:49</string>
      <string>glyphs.N_ov 20 16, 12_49</string>
    </array>
    <array>
      <string>Nov 20 16, 12:49.background</string>
      <string>glyphs.N_ov 20 16, 12_49.background</string>
    </array>
    <array>
      <string>Nov 18 16, 03:25</string>
      <string>glyphs.N_ov 18 16, 03_25</string>
    </array>
    <array>
      <string>Nov 18 16, 03:25.background</string>
      <string>glyphs.N_ov 18 16, 03_25.background</string>
    </array>
    <array>
      <string>Nov 17 16, 21:02</string>
      <string>glyphs.N_ov 17 16, 21_02</string>
    </array>
    <array>
      <string>Nov 17 16, 21:02.background</string>
      <string>glyphs.N_ov 17 16, 21_02.background</string>
    </array>
    <array>
      <string>Nov 18 16, 04:05</string>
      <string>glyphs.N_ov 18 16, 04_05</string>
    </array>
    <array>
      <string>Nov 18 16, 04:05.background</string>
      <string>glyphs.N_ov 18 16, 04_05.background</string>
    </array>
    <array>
      <string>Nov 17 16, 21:35</string>
      <string>glyphs.N_ov 17 16, 21_35</string>
    </array>
    <array>
      <string>Nov 17 16, 21:35.background</string>
      <string>glyphs.N_ov 17 16, 21_35.background</string>
    </array>
    <array>
      <string>Nov 18 16, 04:21</string>
      <string>glyphs.N_ov 18 16, 04_21</string>
    </array>
    <array>
      <string>Nov 18 16, 04:21.background</string>
      <string>glyphs.N_ov 18 16, 04_21.background</string>
    </array>
    <array>
      <string>Nov 18 16, 04:27</string>
      <string>glyphs.N_ov 18 16, 04_27</string>
    </array>
    <array>
      <string>Nov 18 16, 04:27.background</string>
      <string>glyphs.N_ov 18 16, 04_27.background</string>
    </array>
    <array>
      <string>Nov 18 16, 04:36</string>
      <string>glyphs.N_ov 18 16, 04_36</string>
    </array>
    <array>
      <string>Nov 18 16, 04:36.background</string>
      <string>glyphs.N_ov 18 16, 04_36.background</string>
    </array>
    <array>
      <string>Nov 20 16, 12:40</string>
      <string>glyphs.N_ov 20 16, 12_40</string>
    </array>
    <array>
      <string>Nov 20 16, 12:40.background</string>
      <string>glyphs.N_ov 20 16, 12_40.background</string>
    </array>
    <array>
      <string>Original</string>
      <string>glyphs.O_riginal</string>
    </array>
    <array>
      <string>Original.background</string>
      <string>glyphs.O_riginal.background</string>
    </array>
    <array>
      <string>Nov 25 16, 01:19</string>
      <string>glyphs.N_ov 25 16, 01_19</string>
    </array>
    <array>
      <string>Nov 25 16, 01:19.background</string>
      <string>glyphs.N_ov 25 16, 01_19.background</string>
    </array>
    <array>
      <string>Nov 25 16, 01:26</string>
      <string>glyphs.N_ov 25 16, 01_26</string>
    </array>
    <array>
      <string>Nov 25 16, 01:26.background</string>
      <string>glyphs.N_ov 25 16, 01_26.background</string>
    </array>
    <array>
      <string>Dec 7 16, 02:32</string>
      <string>glyphs.D_ec 7 16, 02_32</string>
    </array>
    <array>
      <string>Dec 7 16, 02:32.background</string>
      <string>glyphs.D_ec 7 16, 02_32.background</string>
    </array>
    <array>
      <string>Nov 20 16, 17:16</string>
      <string>glyphs.N_ov 20 16, 17_16</string>
    </array>
    <array>
      <string>Nov 20 16, 17:16.background</string>
      <string>glyphs.N_ov 20 16, 17_16.background</string>
    </array>
    <array>
      <string>Nov 20 16, 17:42</string>
      <string>glyphs.N_ov 20 16, 17_42</string>
    </array>
    <array>
      <string>Nov 20 16, 17:42.background</string>
      <string>glyphs.N_ov 20 16, 17_42.background</string>
    </array>
    <array>
      <string>Nov 20 16, 17:45</string>
      <string>glyphs.N_ov 20 16, 17_45</string>
    </array>
    <array>
      <string>Nov 20 16, 17:45.background</string>
      <string>glyphs.N_ov 20 16, 17_45.background</string>
    </array>
    <array>
      <string>Nov 22 16, 21:58</string>
      <string>glyphs.N_ov 22 16, 21_58</string>
    </array>
    <array>
      <string>Nov 22 16, 21:58.background</string>
      <string>glyphs.N_ov 22 16, 21_58.background</string>
    </array>
    <array>
      <string>Nov 25 16, 08:01</string>
      <string>glyphs.N_ov 25 16, 08_01</string>
    </array>
    <array>
      <string>Nov 25 16, 08:01.background</string>
      <string>glyphs.N_ov 25 16, 08_01.background</string>
    </array>
    <array>
      <string>Nov 25 16, 08:05</string>
      <string>glyphs.N_ov 25 16, 08_05</string>
    </array>
    <array>
      <string>Nov 25 16, 08:05.background</string>
      <string>glyphs.N_ov 25 16, 08_05.background</string>
    </array>
    <array>
      <string>Dec 7 16, 00:15</string>
      <string>glyphs.D_ec 7 16, 00_15</string>
    </array>
    <array>
      <string>Dec 7 16, 00:15.background</string>
      <string>glyphs.D_ec 7 16, 00_15.background</string>
    </array>
    <array>
      <string>Nov 20 16, 16:19</string>
      <string>glyphs.N_ov 20 16, 16_19</string>
    </array>
    <array>
      <string>Nov 20 16, 16:19.background</string>
      <string>glyphs.N_ov 20 16, 16_19.background</string>
    </array>
    <array>
      <string>Nov 25 16, 01:07</string>
      <string>glyphs.N_ov 25 16, 01_07</string>
    </array>
    <array>
      <string>Nov 25 16, 01:07.background</string>
      <string>glyphs.N_ov 25 16, 01_07.background</string>
    </array>
    <array>
      <string>Nov 22 16, 20:44</string>
      <string>glyphs.N_ov 22 16, 20_44</string>
    </array>
    <array>
      <string>Nov 22 16, 20:44.background</string>
      <string>glyphs.N_ov 22 16, 20_44.background</string>
    </array>
    <array>
      <string>Nov 22 16, 20:47</string>
      <string>glyphs.N_ov 22 16, 20_47</string>
    </array>
    <array>
      <string>Nov 22 16, 20:47.background</string>
      <string>glyphs.N_ov 22 16, 20_47.background</string>
    </array>
    <array>
      <string>Nov 22 16, 21:03</string>
      <string>glyphs.N_ov 22 16, 21_03</string>
    </array>
    <array>
      <string>Nov 22 16, 21:03.background</string>
      <string>glyphs.N_ov 22 16, 21_03.background</string>
    </array>
    <array>
      <string>Nov 23 16, 00:24</string>
      <string>glyphs.N_ov 23 16, 00_24</string>
    </array>
    <array>
      <string>Nov 23 16, 00:24.background</string>
      <string>glyphs.N_ov 23 16, 00_24.background</string>
    </array>
    <array>
      <string>Nov 20 16, 16:32</string>
      <string>glyphs.N_ov 20 16, 16_32</string>
    </array>
    <array>
      <string>Nov 20 16, 16:32.background</string>
      <string>glyphs.N_ov 20 16, 16_32.background</string>
    </array>
    <array>
      <string>Nov 20 16, 16:35</string>
      <string>glyphs.N_ov 20 16, 16_35</string>
    </array>
    <array>
      <string>Nov 20 16, 16:35.background</string>
      <string>glyphs.N_ov 20 16, 16_35.background</string>
    </array>
    <array>
      <string>New</string>
      <string>glyphs.N_ew</string>
    </array>
    <array>
      <string>New.background</string>
      <string>glyphs.N_ew.background</string>
    </array>
    <array>
      <string>Nov 20 16, 16:51</string>
      <string>glyphs.N_ov 20 16, 16_51</string>
    </array>
    <array>
      <string>Nov 20 16, 16:51.background</string>
      <string>glyphs.N_ov 20 16, 16_51.background</string>
    </array>
    <array>
      <string>Dec 7 16, 02:41</string>
      <string>glyphs.D_ec 7 16, 02_41</string>
    </array>
    <array>
      <string>Dec 7 16, 02:41.background</string>
      <string>glyphs.D_ec 7 16, 02_41.background</string>
    </array>
    <array>
      <string>Nov 20 16, 17:33</string>
      <string>glyphs.N_ov 20 16, 17_33</string>
    </array>
    <array>
      <string>Nov 20 16, 17:33.background</string>
      <string>glyphs.N_ov 20 16, 17_33.background</string>
    </array>
    <array>
      <string>Nov 20 16, 17:03</string>
      <string>glyphs.N_ov 20 16, 17_03</string>
    </array>
    <array>
      <string>Nov 20 16, 17:03.background</string>
      <string>glyphs.N_ov 20 16, 17_03.background</string>
    </array>
    <array>
      <string>Nov 20 16, 17:50</string>
      <string>glyphs.N_ov 20 16, 17_50</string>
    </array>
    <array>
      <string>Nov 20 16, 17:50.background</string>
      <string>glyphs.N_ov 20 16, 17_50.background</string>
    </array>
    <array>
      <string>Nov 22 16, 19:11</string>
      <string>glyphs.N_ov 22 16, 19_11</string>
    </array>
    <array>
      <string>Nov 22 16, 19:11.background</string>
      <string>glyphs.N_ov 22 16, 19_11.background</string>
    </array>
    <array>
      <string>Nov 27 16, 21:01</string>
      <string>glyphs.N_ov 27 16, 21_01</string>
    </array>
    <array>
      <string>Nov 27 16, 21:01.background</string>
      <string>glyphs.N_ov 27 16, 21_01.background</string>
    </array>
    <array>
      <string>Nov 22 16, 19:07</string>
      <string>glyphs.N_ov 22 16, 19_07</string>
    </array>
    <array>
      <string>Nov 22 16, 19:07.background</string>
      <string>glyphs.N_ov 22 16, 19_07.background</string>
    </array>
    <array>
      <string>Nov 25 16, 01:53</string>
      <string>glyphs.N_ov 25 16, 01_53</string>
    </array>
    <array>
      <string>Nov 25 16, 01:53.background</string>
      <string>glyphs.N_ov 25 16, 01_53.background</string>
    </array>
    <array>
      <string>Nov 20 16, 19:21</string>
      <string>glyphs.N_ov 20 16, 19_21</string>
    </array>
    <array>
      <string>Nov 20 16, 19:21.background</string>
      <string>glyphs.N_ov 20 16, 19_21.background</string>
    </array>
    <array>
      <string>Nov 22 16, 18:59</string>
      <string>glyphs.N_ov 22 16, 18_59</string>
    </array>
    <array>
      <string>Nov 22 16, 18:59.background</string>
      <string>glyphs.N_ov 22 16, 18_59.background</string>
    </array>
    <array>
      <string>Nov 22 16, 20:32</string>
      <string>glyphs.N_ov 22 16, 20_32</string>
    </array>
    <array>
      <string>Nov 22 16, 20:32.background</string>
      <string>glyphs.N_ov 22 16, 20_32.background</string>
    </array>
    <array>
      <string>Nov 22 16, 20:37</string>
      <string>glyphs.N_ov 22 16, 20_37</string>
    </array>
    <array>
      <string>Nov 22 16, 20:37.background</string>
      <string>glyphs.N_ov 22 16, 20_37.background</string>
    </array>
    <array>
      <string>Nov 22 16, 19:22</string>
      <string>glyphs.N_ov 22 16, 19_22</string>
    </array>
    <array>
      <string>Nov 22 16, 19:22.background</string>
      <string>glyphs.N_ov 22 16, 19_22.background</string>
    </array>
    <array>
      <string>Nov 20 16, 17:54</string>
      <string>glyphs.N_ov 20 16, 17_54</string>
    </array>
    <array>
      <string>Nov 20 16, 17:54.background</string>
      <string>glyphs.N_ov 20 16, 17_54.background</string>
    </array>
    <array>
      <string>Nov 20 16, 18:08</string>
      <string>glyphs.N_ov 20 16, 18_08</string>
    </array>
    <array>
      <string>Nov 20 16, 18:08.background</string>
      <string>glyphs.N_ov 20 16, 18_08.background</string>
    </array>
    <array>
      <string>Nov 22 16, 23:37</string>
      <string>glyphs.N_ov 22 16, 23_37</string>
    </array>
    <array>
      <string>Nov 22 16, 23:37.background</string>
      <string>glyphs.N_ov 22 16, 23_37.background</string>
    </array>
    <array>
      <string>Nov 22 16, 23:38</string>
      <string>glyphs.N_ov 22 16, 23_38</string>
    </array>
    <array>
      <string>Nov 22 16, 23:38.background</string>
      <string>glyphs.N_ov 22 16, 23_38.background</string>
    </array>
    <array>
      <string>Nov 25 16, 07:52</string>
      <string>glyphs.N_ov 25 16, 07_52</string>
    </array>
    <array>
      <string>Nov 25 16, 07:52.background</string>
      <string>glyphs.N_ov 25 16, 07_52.background</string>
    </array>
    <array>
      <string>Nov 20 16, 18:21</string>
      <string>glyphs.N_ov 20 16, 18_21</string>
    </array>
    <array>
      <string>Nov 20 16, 18:21.background</string>
      <string>glyphs.N_ov 20 16, 18_21.background</string>
    </array>
    <array>
      <string>Nov 25 16, 02:34</string>
      <string>glyphs.N_ov 25 16, 02_34</string>
    </array>
    <array>
      <string>Nov 25 16, 02:34.background</string>
      <string>glyphs.N_ov 25 16, 02_34.background</string>
    </array>
    <array>
      <string>Nov 26 16, 15:29</string>
      <string>glyphs.N_ov 26 16, 15_29</string>
    </array>
    <array>
      <string>Nov 26 16, 15:29.background</string>
      <string>glyphs.N_ov 26 16, 15_29.background</string>
    </array>
    <array>
      <string>Nov 20 16, 14:58</string>
      <string>glyphs.N_ov 20 16, 14_58</string>
    </array>
    <array>
      <string>Nov 20 16, 14:58.background</string>
      <string>glyphs.N_ov 20 16, 14_58.background</string>
    </array>
    <array>
      <string>Nov 25 16, 01:38</string>
      <string>glyphs.N_ov 25 16, 01_38</string>
    </array>
    <array>
      <string>Nov 25 16, 01:38.background</string>
      <string>glyphs.N_ov 25 16, 01_38.background</string>
    </array>
    <array>
      <string>Dec 5 16, 06:11</string>
      <string>glyphs.D_ec 5 16, 06_11</string>
    </array>
    <array>
      <string>Dec 5 16, 06:11.background</string>
      <string>glyphs.D_ec 5 16, 06_11.background</string>
    </array>
    <array>
      <string>Dec 7 16, 00:54</string>
      <string>glyphs.D_ec 7 16, 00_54</string>
    </array>
    <array>
      <string>Dec 7 16, 00:54.background</string>
      <string>glyphs.D_ec 7 16, 00_54.background</string>
    </array>
    <array>
      <string>Dec 7 16, 00:55</string>
      <string>glyphs.D_ec 7 16, 00_55</string>
    </array>
    <array>
      <string>Dec 7 16, 00:55.background</string>
      <string>glyphs.D_ec 7 16, 00_55.background</string>
    </array>
    <array>
      <string>Dec 7 16, 00:44</string>
      <string>glyphs.D_ec 7 16, 00_44</string>
    </array>
    <array>
      <string>Dec 7 16, 00:44.background</string>
      <string>glyphs.D_ec 7 16, 00_44.background</string>
    </array>
    <array>
      <string>Dec 7 16, 00:46</string>
      <string>glyphs.D_ec 7 16, 00_46</string>
    </array>
    <array>
      <string>Dec 7 16, 00:46.background</string>
      <string>glyphs.D_ec 7 16, 00_46.background</string>
    </array>
    <array>
      <string>Dec 7 16, 00:47</string>
      <string>glyphs.D_ec 7 16, 00_47</string>
    </array>
    <array>
      <string>Dec 7 16, 00:47.background</string>
      <string>glyphs.D_ec 7 16, 00_47.background</string>
    </array>
    <array>
      <string>Nov 25 16, 05:36</string>
      <string>glyphs.N_ov 25 16, 05_36</string>
    </array>
    <array>
      <string>Nov 25 16, 02:11</string>
      <string>glyphs.N_ov 25 16, 02_11</string>
    </array>
    <array>
      <string>Nov 25 16, 02:11.background</string>
      <string>glyphs.N_ov 25 16, 02_11.background</string>
    </array>
    <array>
      <string>Nov 25 16, 02:20</string>
      <string>glyphs.N_ov 25 16, 02_20</string>
    </array>
    <array>
      <string>Nov 25 16, 02:20.background</string>
      <string>glyphs.N_ov 25 16, 02_20.background</string>
    </array>
    <array>
      <string>Nov 26 16, 22:10</string>
      <string>glyphs.N_ov 26 16, 22_10</string>
    </array>
    <array>
      <string>Nov 26 16, 22:10.background</string>
      <string>glyphs.N_ov 26 16, 22_10.background</string>
    </array>
    <array>
      <string>Nov 27 16, 00:17</string>
      <string>glyphs.N_ov 27 16, 00_17</string>
    </array>
    <array>
      <string>Nov 27 16, 00:17.background</string>
      <string>glyphs.N_ov 27 16, 00_17.background</string>
    </array>
    <array>
      <string>Nov 27 16, 00:30</string>
      <string>glyphs.N_ov 27 16, 00_30</string>
    </array>
    <array>
      <string>Nov 27 16, 00:30.background</string>
      <string>glyphs.N_ov 27 16, 00_30.background</string>
    </array>
    <array>
      <string>Nov 27 16, 01:57</string>
      <string>glyphs.N_ov 27 16, 01_57</string>
    </array>
    <array>
      <string>Nov 27 16, 01:57.background</string>
      <string>glyphs.N_ov 27 16, 01_57.background</string>
    </array>
    <array>
      <string>Nov 26 16, 22:27</string>
      <string>glyphs.N_ov 26 16, 22_27</string>
    </array>
    <array>
      <string>Nov 26 16, 22:27.background</string>
      <string>glyphs.N_ov 26 16, 22_27.background</string>
    </array>
    <array>
      <string>Dec 7 16, 04:34</string>
      <string>glyphs.D_ec 7 16, 04_34</string>
    </array>
    <array>
      <string>Dec 7 16, 04:34.background</string>
      <string>glyphs.D_ec 7 16, 04_34.background</string>
    </array>
    <array>
      <string>Dec 7 16, 05:49</string>
      <string>glyphs.D_ec 7 16, 05_49</string>
    </array>
    <array>
      <string>Dec 7 16, 05:49.background</string>
      <string>glyphs.D_ec 7 16, 05_49.background</string>
    </array>
    <array>
      <string>Dec 7 16, 04:40</string>
      <string>glyphs.D_ec 7 16, 04_40</string>
    </array>
    <array>
      <string>Dec 7 16, 04:40.background</string>
      <string>glyphs.D_ec 7 16, 04_40.background</string>
    </array>
  </array>
</plist>
