<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>BEB82BF6-FEC9-4BEA-82F6-0A201E70C434</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.X</key>
      <integer>7</integer>
    </dict>
  </dict>
</plist>
