<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>115B46B3-2746-4192-856E-6A8D33D6DEDC</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.g.ss01</key>
      <integer>9</integer>
    </dict>
  </dict>
</plist>
