<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>60BFB5B3-ADDA-4EAA-8267-D6A540D5FC3A</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.z</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
