<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>DE108EAF-3CFD-4FAD-B566-9735F075E5B3</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.ampersand</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
