<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9C023B41-6DC2-40EA-91C4-0320732133AD</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.W</key>
      <integer>5</integer>
    </dict>
  </dict>
</plist>
